/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.header-title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
}

.header-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (max-width: 300px) {
  .header {
    text-transform: uppercase;
  }
}
.header__button {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.footer-button {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50px;
  height: 50px;
  line-height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer-button:hover {
  background-color: #fff;
  color: #1e4776;
}

.btn-back {
  display: inline-block;
  border: 3px solid #275bec;
  border-radius: 50px;
  height: 61px;
  line-height: 55px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #275bec;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn-back:hover {
  background-color: #275bec;
  color: #fff;
}

.button {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #1e4776;
}
.button--white {
  background-color: white;
  color: #323252;
}
.button--white:hover {
  background-color: #323252;
  color: white;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button--play {
  position: relative;
  padding-left: 50px;
}
.button--play::before {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("./../img/icons/play.svg");
  background-size: initial;
  background-repeat: no-repeat;
}

.header-arrow {
  stroke: white;
  -webkit-transition: stroke 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.header-arrow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
}

.project-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project {
  padding: 20px 20px 30px;
  max-width: 540px;
  max-height: 375px;
  background: #fff;
}
.project p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.portfolio-header {
  margin-bottom: 70px;
  text-align: center;
}

.project__img {
  margin-bottom: 20px;
}

.project__link {
  color: #000;
  -webkit-transition: color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, color 0.2s ease-in;
  transition: transform 0.2s ease-in, color 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.project__link:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  color: #7e9ec9;
}
.project__link h3:hover {
  color: #7e9ec9;
}

.title2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #000;
}

.title3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #000;
}

.footer {
  height: 290px;
  padding-top: 45px;
  padding-bottom: 130px;
  background-color: #1e4776;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 350px;
}

.copyright {
  color: #7e9ec9;
  line-height: 130%;
}
.copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 1.3;
}
.copyright p {
  font-weight: 600;
  font-size: 16px;
}

.social p {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  fill: white;
}
.social__icon_svg {
  fill: #fff;
}
.social__icon_svg:hover {
  fill: #f78434;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.contacts p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  color: #7e9ec9;
}

.project-forest {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
}
.project-forest__description {
  max-width: 730px;
  margin: 0 auto 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.project-forest p {
  margin-bottom: 15px;
}

.project-header {
  margin-bottom: 40px;
}

.project-forest-img {
  margin-bottom: 69px;
}