/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.header-title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
}

.header-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header__button {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header__button:hover {
  color: #ff6a00;
}

.button {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}
.button--white {
  background-color: white;
  color: #323232;
}
.button--white:hover {
  background-color: #323232;
  color: white;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button--play {
  position: relative;
  padding-left: 50px;
}
.button--play::before {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("./../img/icons/play.svg");
  background-size: initial;
  background-repeat: no-repeat;
}

.header-arrow {
  stroke: white;
  -webkit-transition: stroke 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, transform 0.2s ease-in;
  transition: stroke 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.header-arrow:hover {
  stroke: rgb(47, 192, 240);
  -webkit-transform: scale(2.1);
          transform: scale(2.1);
}