@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.container {
  max-width: 1140px;
  padding: 80px 15px 115px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}
