$button-White: #fff;
$button-Blue: #275bec;
$bg-blue: #1e4776;
$text-Black: #000;
$text-White: #fff;
$text-Blue: #7e9ec9;

$accent-color: #f78434;
$accent-color-hover: #ff6a00;
$title2: #323232;
$black-color: #323232;
