$buttonWhite: #fff;
$buttonBlue: #275bec;
$bgBlue: #1e4776;
$textBlack: #000;
$textWhite: #fff;
$textBlue: #7e9ec9;

$accent-color: #f78434;
$accent-color-hover: #ff6a00;
$title2: #323232;
$black-color: #323232;
$black-color: #323252;
