$buttonWhite: #fff;
$buttonBlue: #275bec;
$bgBlue: #1e4776;
$textBlack: #000;
$textWhite: #fff;
$textBlue: #7e9ec9;

$accent-color: #f78434;
// $accent-color-hover: #ff6a00;
$accent-color-hover: #1e4776;
$title2: #323232;
$black-color: #323232;
$black-color: #323252;

$breakpoint_laptop: 1024px;
$breakpoint_tablet: 768px;
$breakpoint_mobile: 320px;
