.portfolio {
  padding-top: 80px;
  padding-bottom: 115px;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.project {
  padding: 20px 20px 30px;
  // max-width: 540px;
  // width: 50%;
  max-height: 375px;
  background: #fff;
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}
.portfolio-header {
  margin-bottom: 70px;
  text-align: center;
}

.project__img {
  margin-bottom: 20px;
}
.project__link {
  width: calc(50% - 15px);

  color: $textBlack;
  transition: transform 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    transform: translateY(-15px);
    color: $textBlue;
  }
  & h3:hover {
    color: $textBlue;
  }
  &:active {
    position: relative;
    top: 5px;
  }
}
