.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-image: url("./../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  color: $textWhite;
}

.header-title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3;
}
.header-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
